---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="SAGE Panel">
	<Navbar />
	<main>
		<Hero />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		width: 100%;
		font-size: 20px;
		line-height: 1.6;
	}
</style>