---
import RecentSearches from "./RecentSearches.astro";
---

<div class="w-full max-w-2xl mx-auto">
  <div class="relative">
    <input
      type="text"
      id="search-input"
      class="w-full h-12 px-4 rounded-full text-white/90 placeholder-white/50 transition-colors duration-200"
      placeholder="Buscar por nombre..."
      autocomplete="off"
    />
    <div
      class="absolute bottom-0 left-0 w-full h-0.5 overflow-hidden opacity-0 transition-opacity duration-200"
      id="loading-container"
    >
      <div class="h-full bg-[#0061a4] loading-bar"></div>
    </div>
    <RecentSearches id="search-input" type="name" />
  </div>

  <div
    class="mt-4 max-h-[300px] overflow-y-auto rounded-lg custom-scrollbar"
    id="results-container"
  >
  </div>
</div>

<style>
  .loading-bar {
    width: 30%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(400%);
    }
  }
</style>
